progress {
  border-radius: 2px;
  width: 80%;
  height: 22px;
  border-radius: 20px;
  color: pink;
}
progress::-webkit-progress-bar {
 background-color: pink;
  border-radius: 20px;
}
progress::-webkit-progress-value {
   border-radius: 2px;
     border-radius: 20px;
}
progress::-moz-progress-bar {
  /* style rules */
}
.kaya {
  background-color: #d5e5e4;
  color: black;
  display: grid;
  grid-template-columns: 1fr, 3fr, 1fr;
  grid-template-rows: 1fr, 3fr, 1fr;
  /* background: url('./dog.jpg'); */
}

.column {
  float: left;
  width: 33.33%;
}
.icons-top{
  grid-column: 2/3;
    grid-row: 1/2;
}

.icons-bottom{
  grid-column: 2/3;
  grid-row: 3/4;
}

.doggie {
  grid-column: 2/3;
  grid-row: 2/3;
}

.icon {
  height: 100px;
  width: inherit;
  margin: 2%;
}

.health-bars {
  grid-column: 1/2;
  grid-row: 2/3;
}

.dog {
  display: none;
}
